{% extends 'blog/base.html' %}
{% load static %}
{% block extraCss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
{% if user.is_authenticated %}                          

    <center>
    <div>
      <div class="picture-container">
        <div class="profilepic">
            <img src="{{ custom_user.profile_pic.url }}" class="profilepic" id="wizardPicturePreview" title=""/>
        </div>
    </div>
    </div>
  </center>
    <div>
        <center><h2>Hello {{ user.get_username }}!</h2>
        </center><hr/>
    </div>
    <div class="row">
        <div class="col-lg-6">
          <h3>Change Profile Picture : </h3>
        </div>
        <div class="col-lg-6">
        <form class="form-group" action="profile-pic-change/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for non_field_error in form.non_field_errors %}
              <p class="alert alert-danger">{{ non_field_error }}</p>
          {% endfor %}
          <div class="row">
          {% for field in form %}
              <div>
                  {{ field }}
              {% for error in field.errors %}
                  <p class="alert alert-danger">{{ error }}</p>
              {% endfor %}
              </div>
          {% endfor %}
          <div>
          <input type="submit" value="change" class="btn btn-light">
        </div>
      </div>
        </form>
      </div>
      
    </div>
    <hr/>
{% endif %}

</div>
{% endblock %}