<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>GeeksNegar</title>
  </head>
  <body>
    {% block header %}
    {% include "blog/header.html" %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
    {% include "blog/footer.html" %}
    {% endblock %}

  </body>
</html>
