<footer style="background-color:rgb(77, 0, 0);">
  <div class="container">
    <div class="row" style="color:rgb(224, 224, 209); padding-top:45px; padding-bottom:30px;">
      <div class="col-sm-4">
        <h3>Address:</h3>
        <p>University Of Guilan, Rasht, Iran</p>
      </div>
      <div class="col-sm-4">
        
        <h3>Contact Us:</h3>
        <i class="fa fa-instagram" style="font-size:36px"><a href="https://www.instagram.com/geeksnegar/" style="color:rgb(217, 217, 217); font-size:25px;">  :    @geeksnegar</a></i><br><br>
        <i class="fa fa-telegram" style="font-size:36px"><a href="https://t.me/geeksnegar" style="color:rgb(217, 217, 217); font-size:25px;">  :    @geeksnegar</a> </i><br><br>
        <a href="https://gitlab.com/amirmahdi.khosravi/geeksnegar" style="color:rgb(217, 217, 217); font-size:25px;"><i class="fa fa-gitlab" style="font-size:36px"></i>  :    Gitlab</a><br><br>
      </div>
      <div class="col-sm-4">
        <h3>About Us</h3>
        <p>GeeksNegar is a local magazine and figital art/media creation group</p>
        <p>based in university of guilan - Rasht - Iran</p>


      </div>
    </div>
  </div>
</footer>
