<nav class="navbar navbar-expand-sm navbar-dark" style=" background-color:rgb(128, 0, 0);">
  <div class="container-fluid">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">GeeksNegar</a>

    <!-- Links -->
    <ul class="navbar-nav" style="margin-right:700px; ">
      <li class="nav-item">
        <a class="nav-link" href="/blog/" style="color:rgb(217, 217, 217);">Home</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#" style="color:rgb(217, 217, 217);" >Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:rgb(217, 217, 217);" >About Us</a>
      </li>
    </ul>
    <!-- <div class="navbar-header" style="background-color:rgb(128, 0, 0); margin: 0px 10px 0px -5px; padding-left: 10px">
    <a class="navbar-brand" href="#" style="color:rgb(224, 224, 209);" >GeeksNegar</a>
  </div>
  <ul class="nav navbar-nav">
  <li class="active" style="color:rgb(224, 224, 209);"><a href="/blog/ ">Home</a></li>
  <li ><a href="#" style="color:rgb(224, 224, 209);">contact us</a></li>
  <li><a href="#" style="color:rgb(224, 224, 209);" >about geeks</a></li>

</ul> -->
<div>
  <div class="container">
    {% if user.is_authenticated %}
    <div class="btn-group" >
      <button type="button" class="btn btn-dark" >{{ user.get_username }}</button>
      <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu" style="margin-left: -100px;">
          <a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
          <a  class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="btn-group">
      <a class="btn btn-dark" href="{% url 'login'%}?next={{request.path}}" class="btn btn-primary">Login</a>
      <a class="btn btn-dark" href="{% url 'accounts:signup'%}?next={{request.path}}">Sign Up</a>
    </div>
    {% endif %}
  </div>
</div>
</div>
</nav>
