{% extends 'blog/base.html' %}
{% block header %}
{% include "blog/header.html" %}

<div class="container-fluid" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for slides in slider_list %}
      {% if forloop.counter0 == 0 %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
      {% else %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}
        {% endfor %}
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for slides in slider_list %}
        {% if forloop.counter0 == 0 %}
        <div class="item active">
          <img src="/media/{{slides.image}}" alt="{{slides.header}}" style="width:100%; height:550px">
          <div class="carousel-caption">
            <h2>{{slides.header}}</h2>
          </div>
        </div>
        {% else %}
        <div class="item">
          <img src="/media/{{slides.image}}" alt="{{slides.header}}" style="width:100%; height:550px">
          <div class="carousel-caption">
            <h2>{{slides.header}}</h2>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {% endblock %}

  {% block content %}
  <div class="container">

    <div class="row">
      <div><h3>پست های اخیر</h3></div>
      <hr/>
      {% if post_list %}
      {% for post in post_list %}
      {% if post.published %}
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="{{post.id}}">
            <div><h2>{{ post.title }}</h2></div>
            <div><h5>{{ post.pub_date }}</h5></div><br>
            {% if post.video is not None %}
            <div><video width="100%" height="100%" controls><source src="/media/{{post.video}}" type="video/mp4"></video></div>
              <div class="caption"><h5>{{ post.text }}</h5></div><br>
              {% endif %}
              {% if post.image is not None %}
              <div><img src="/media/{{post.image}}" width="100%" height="100%"></div>
              <div><h5>{{ post.text }}</h5></div><br>
              {% endif %}
              {% if post.image is None and post.video is None %}
              <div><h5>{{ post.text }}</h5></div><br>
              {% endif %}
              <hr/>
              {% endif %}
            </a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No posts are available.</p>
        {% endif %}
      </div>
    </div>
    {% endblock %}
