{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
{% if post %}
    {% if post.published %}
        <div><h2>{{ post.title }}</h2></div>
        <div><h5>{{ post.pub_date }}</h5></div></br>
        {% if post.video is not None %}
            <div><video width="100%" height="100%" controls><source src="/media/{{post.video}}" type="video/mp4"></video></div>
            <div><h5>{{ post.text }}</h5></div></br>
        {% endif %}
        {% if post.image is not None %}
            <div><img src="/media/{{post.image}}" width="100%" height="100%"></div>
            <div><h5>{{ post.text }}</h5></div></br>
        {% endif %}
        {% if post.image is None and post.video is None %}
            <div><h5>{{ post.text }}</h5></div></br>
        {% endif %}
            </hr>

        <!-- Like table -->   
    <div class="">
        Likes : 
        <div class="badge" id="likecount">{{ post_like.likecount }}</div>
    </div>

    <div class="btn-group btn-group-lg">
            <!--  -->
            {% if user.is_authenticated %}
            <!-- Like button load -->
                {% if post_like.likecount != 0 %}
                    {% for usr in post_like.user.all|slice:":1" %}

                        {% if usr.get_username == user.get_username %}
                            <button type="button" class="btn btn-light" name="{{post.id}}" id="like">Liked</button>
                        {% else %}
                            <button type="button" class="btn btn-light" name="{{post.id}}" id="like">Like</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <button type="button" class="btn btn-light" name="{{post.id}}" id="like">Like</button>
                {% endif %}
        <!--AJAX Like button handle -->
        <script>
            $('#like').click(function(){         
                  $.ajax({
                           type: "POST",
                           url: "{% url 'blog:post-detail' post.id %}",
                           data: {'tutorial_id': $(this).attr('name'), 
                           'csrfmiddlewaretoken': '{{csrf_token}}'},                  
                           dataType: "text",
                           success: function(response) {
                            if($("#like").text() == "Like"){
                                $("#like").html("Liked");
                                $("#likecount").text( {{ post_like.likecount }} +1);
                                }
                            else{
                                $("#like").html("Like");
                                $("#likecount").text( $("#likecount").text() - 1);
                                }
                            },
                            error: function(rs, e) {
                                  alert(rs.responseText);
                            }
                      }); 
                })
        </script>

        <!-- if user not logged in -->
        {% else %}
            <button class="btn btn-light">Please Login!</button>


        {% endif %}
    <!-- Comments show button -->
           <button class="btn btn-light" type="button" id="CMSHOWbtn"
           data-toggle="collapse" data-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
           Comments <div class="badge">{{ post.comments.all|length }}</div></button>
        <!-- team members show button -->
            <button class="btn btn-light" type="button" id="TMSHOWbtn"
            data-toggle="collapse" data-target="#collapseTeam" aria-expanded="false" aria-controls="collapseTeam">
            Members <div class="badge">{{ post.member.all|length }}</div></button>
        </div>
    </div>
    
    <div class="container">
        <div class="collapse multi-collapse" id="collapseComments" >
            <br/><br/><div class="text-center"><h4>Leave a New Comment</h4></div><hr/>
            {% if user.is_authenticated %}
            
            <form class="form-group" action="{{ post.id }}/add-comment/" method="post">
                {% csrf_token %}
                {% for non_field_error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ non_field_error }}</p>
                {% endfor %}
                {% for field in form_cm %}
                    <div>
                        {{ field }}
                    {% for error in field.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endfor %}
                <input type="submit" value="Comment" class="btn btn-light">
            </form>
            {% else %}
            <div class="alert alert-info">
            <button class="btn btn-light">Please Login!</button></div>
            {% endif %}
            <br/><br/><div class="text-center"><h4>Recent Comments</h4></div><hr/>
            <div class="card card-body">
                {% if post.comments.all|length %}
                    {% for comment in post.comments.all %}
                    <div><h3>@{{ comment.user }}</h3></div>
                    <div><h3><pre class="well well-lg">   {{ comment.text }}</pre></h3></div><br>
                    {% endfor %}
                {% else %}
                <div><h3><pre class="well well-lg">There is no Comments to show</pre></h3></div><br/>
                {% endif %}
            </div>
        </div>
        <div class="collapse multi-collapse" id="collapseTeam">
            <div class="card card-body">
                {% if post.member.all|length %}
                    {% for team_member in post.member.all %}
                    <div><h3>@{{ team_member.user }}</h3></div>
                        <ul class="well well-lg">
                        {% for role in team_member.role.all %}
                            <li><div><h3><pre>{{ role }}</pre></h3></div><br></li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                {% else %}
                <div><h3><pre class="well well-lg">There is no members to show</pre></h3></div><br>
                {% endif %}
            </div>
        </div> 
    </div>

    <script>
        $(document).ready(function(){
            $("#TMSHOWbtn").click(function(){
                $("#collapseComments").collapse('hide');
            });
        });
        $(document).ready(function(){
            $("#CMSHOWbtn").click(function(){
                $("#collapseTeam").collapse('hide');
            });
        });
    </script>

    {% endif %}
{% else %}
    <p>this post is not available.</p>
{% endif %}
</div>
{% endblock %}
